*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-weight: 300;
    box-sizing: border-box;
    font-family: 'Source Serif Pro', serif;
}

ul{
    list-style: none;

}

a {
    text-decoration: none;
}

img{
    max-width: 100%;
}